// Carré de 400px de côté avec une bordure noire de 1px
//.carre {
//  width: 400px;
//  height: 400px;
//  border: 1px solid black;
//  box-sizing: border-box;
//  display: grid;
//  grid-template-columns: repeat(2, 1fr);
//  grid-template-rows: repeat(2, 1fr);
//}
//

.carre {
  width: 400px;
  height: 400px;
  aspect-ratio: 1;
  border: 1px solid black;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
